PENPOT_DOMAIN=penpot.reversed-r.dev

PENPOT_FLAGS="enable-registration enable-login-with-password disable-email-verification enable-smtp enable-prepl-server"
PENPOT_SECRET_KEY=penpot
      
POSTGRES_DB=penpot
POSTGRES_USER=penpot
POSTGRES_PASSWORD=penpot
